beautifulsoup4==4.12.3
matplotlib
numpy
openpyxl==3.1.2
pandas==2.0.1
plotly
nltk==3.8.1
scikit-learn
seaborn==0.11.2
statsmodels==0.14.0
streamlit==1.33.0
tqdm==4.66.2
pygwalker
pytrends
xgboost==2.0.3
tokenizers==0.19.1
transformers==4.40.1
pycaret
streamlit_shadcn_ui
ipykernel